  #user_name{
    display: block;
    padding: 15px 20px;
    border: 1px solid #a39f9f;
    border-radius: 10px;
    margin: 0 auto;
  }
  .form{
    background-color: grey;
    width: 250px;
    padding: 20px 10px;
    border-radius: 20px;
    text-align: center;
    margin: 50px;
  }
  h1, .discr{
    color: white;
    text-align: center;
  }
  #massage {
    height: 50px;
    resize: none;
  }
  #massage, #select_size{
    width: 200px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
  }
  #select_size{
    padding: 10px;
  }
  .sizes, .textarea{
    margin: 10px;
  }
  .btn{
    background: #8de88d;
    border: none;
    display: block;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    color: grey;
    cursor: pointer;
    font-size: 16px;
  }
  .btn:hover{
    background: #31f131;
    color: black;
  }
  .sauce_name{
    position: relative;
    padding: 0 20px;
    cursor: pointer;
  }
  #sauce_mayo, #sauce_spaces{
    display: none;
  }
  .sauce_name::before{
    content: '';
    background-color: white;
    top: 3px;
    left: 0;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 2px;
    position: absolute;
  }
  #sauce_mayo:checked+.sauce_name::before,
  #sauce_spaces:checked+.sauce_name::before{
    content: '';
    background-color: #a39f9f;
  }

  #sauce_mayo:checked+.sauce_name::after, 
  #sauce_spaces:checked+.sauce_name::after{
    content: '';
    position: absolute;
    top: 4px;
    left: 5px;
    width: 4px;
    height: 9px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(38deg);
  }
  body{
    display: flex;
    flex-flow: row;
    gap: 50px;
  }
  .title{
    margin: 50px 0 0;
  }
  .order{
    margin: 0;
  }